<section id="hero" class="hero-section" aria-labelledby="hero-title">
  <div class="hero-main">
    <div class="hero-main-text">
      <h1 id="hero-title">
        I'm <span class="text-gradient">Cookie</span>, the funnui bunnui vtuber
      </h1>
      <p>
        Hey! I see you've found my website, hulloooo!!!! From here you can
        easily get in touch using the webform below or follow my various social
        media and content creation accounts across the internet. I hope we can
        chat in a stream sometime soon 👋
      </p>
      <div class="hero-buttons">
        <a href="https://bsky.app/profile/ctrlaltcookie.com" target="_blank"
          ><button class="primary-button">Follow Me</button></a
        >
        <a href="#about"><button class="secondary-button">About Me</button></a>
      </div>
    </div>
    <div class="hero-main-image">
      <div class="hero-image-background">
        <img
          class="hero-cookie"
          src="src/assets/images/cookie-portrait-2.png"
          alt=""
        />
        <img
          class="emoji smug"
          src="src/assets/images/emotes/cookie-smug.png"
          alt=""
        />
        <img
          class="emoji wave"
          src="src/assets/images/emotes/cookie-wave.png"
          alt=""
        />
        <img
          class="emoji cool"
          src="src/assets/images/emotes/cookie-point.png"
          alt=""
        />
        <img
          class="emoji heart"
          src="src/assets/images/emotes/cookie-trans-heart.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="hero-stats">
    <ul>
      <li class="stats">
        <span class="stat-number text-gradient">18M+</span><br />views
      </li>
      <li class="stats">
        <span class="stat-number text-gradient">58K+</span><br />follows
      </li>
      <li class="stats">
        <span class="stat-number text-gradient">1.1M+</span><br />likes
      </li>
      <li class="stats">
        <span class="stat-number text-gradient">500+</span><br />community
      </li>
    </ul>
  </div>
</section>

<style></style>
