<section id="social" class="social-section" aria-labelledby="social-title">
  <div class="social-container">
    <h2 id="social-title">Social Stuff</h2>
    <p>These are where I yapp.</p>
    <div class="social-card-container">
      <a href="https://www.youtube.com/@ctrlaltcookie" target="_blank">
        <div class="social-card youtube">
          <img
            class="emoji carrot"
            src="src/assets/images/emotes/carrot.png"
            alt=""
          />
          <img
            class="social-card-img"
            src="src/assets/images/icons/youtube_icon.svg"
            alt="Youtube Icon"
          />
          <div class="social-count">
            <strong>35k</strong>
            <p>subscribers</p>
          </div>
          <span>@ctrlaltcookie</span>
        </div>
      </a>
      <a href="https://www.youtube.com/@dailycookieclips" target="_blank">
        <div class="social-card youtube">
          <img
            class="emoji stick"
            src="src/assets/images/emotes/arcade.png"
            alt=""
          />
          <img
            class="social-card-img"
            src="src/assets/images/icons/youtube_icon.svg"
            alt="Youtube Icon"
          />
          <div class="social-count">
            <strong class="new-channel">daily clips</strong>
            <!-- <p>followers</p> -->
          </div>
          <span class="long-name">@dailycookieclips</span>
        </div>
      </a>
      <a href="https://www.youtube.com/@everydaycookievods" target="_blank">
        <div class="social-card youtube">
          <img
            class="emoji bunnui"
            src="src/assets/images/emotes/bunnui.png"
            alt=""
          />
          <img
            class="social-card-img"
            src="src/assets/images/icons/youtube_icon.svg"
            alt="Youtube Icon"
          />
          <div class="social-count">
            <strong class="new-channel">vods</strong>
            <!-- <p>subscribers</p> -->
          </div>
          <span class="long-name">@everydaycookievods</span>
        </div>
      </a>
      <a href="https://www.twitch.tv/ctrlaltcookie" target="_blank">
        <div class="social-card twitch">
          <img
            class="emoji stream"
            src="src/assets/images/emotes/stream.png"
            alt=""
          />
          <img
            class="social-card-img"
            src="src/assets/images/icons/twitch_icon.svg"
            alt="Twitch Icon"
          />
          <div class="social-count">
            <strong>2.2k</strong>
            <p>followers</p>
          </div>
          <span>@ctrlaltcookie</span>
        </div>
      </a>
      <a href="https://bsky.app/profile/ctrlaltcookie.com" target="_blank">
        <div class="social-card bluesky">
          <img
            class="emoji brocoli"
            src="src/assets/images/emotes/brocoli.png"
            alt=""
          />
          <img
            class="social-card-img"
            src="src/assets/images/icons/bluesky_icon.svg"
            alt="Bluesky Icon"
          />
          <div class="social-count">
            <strong>420</strong>
            <p>followers</p>
          </div>
          <span>@ctrlaltcookie</span>
        </div>
      </a>
    </div>
  </div>
</section>
