<section id="support" class="support-section" aria-labelledby="support-title">
  <div class="support-container">
    <h2 id="support-title">
      Support <span class="text-gradient">Cookie</span>
    </h2>
    <p>
      I'm using Ko-Fi and Patreon as a way of accepting tips for the stuff I
      create for free on the internet.
    </p>
    <div class="support-card-container">
      <a href="https://ko-fi.com/ctrlaltcookie" target="_blank">
        <div class="support-card kofi">
          <img
            class="social-card-img"
            width="100px"
            src="/images/icons/kofi_symbol.png"
            alt="Youtube Icon"
          />
          <div class="social-count">
            <!-- <strong>34k</strong> -->
            <!-- <p>Support me on Ko-Fi</p> -->
            <img width="300px" src="/images/support_me_on_kofi.png" alt="" />
          </div>
          <span>@ctrlaltcookie</span>
        </div>
      </a>
      <a href="https://www.patreon.com/funnuibunnui" target="_blank">
        <div class="support-card patreon">
          <img
            class="social-card-img"
            width="100px"
            src="/images/icons/patreon.png"
            alt="Youtube Icon"
          />
          <div class="social-count">
            <!-- <strong>&lt;1k </strong> -->
            <!-- <p>Support me on Patreon</p> -->
            <img width="300px" src="/images/support_me_on_patreon.png" alt="" />
          </div>
          <span>@funnuibunnui</span>
        </div>
      </a>
    </div>
  </div>
</section>
